{% load static %}

<html>

<head>
    <title>
        Login - Let's Chat
    </title>
     <link rel="shortcut icon" href="{% static 'handshake-solid.svg' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
             <meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgba(255,255,255,0.5);">
        <a class="navbar-brand" href="#">Let's Chat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item  active">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="login" style="width:100%; height:70%;">

        <form action="#" method="POST" style="padding-left:6%; max-width:60%; padding-top:6%;">
        {% csrf_token %}
            <div style="padding-bottom:10px">
                <span style="color:grey;font-size:20px;">
                    Login
                </span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Username
                </label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">
                    Password
                </label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone
                    else.</small>
            </div>
            <button type="submit" class="btn btn-primary">I'm Ready To Chat</button>
        </form>
        <div style="font-size:13px;padding-bottom:10px;">
            <center>
                © Let's Chat Inc | Let Your Fingers Work
            </center>
        </div>
    </div>
{% if failed == True %}
<script>
alert('Invalid Credentials!');
</script>
{% endif %}
</body>

</html>
